@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Default Theme (applied by default) */
:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --base-color: #f5f0e8;
  --contrast-color: #333333;
  --primary-color: #c79060;
  --secondary-color: #f9f9f9;
  --accent-color1: #e6c29d;
  --accent-color2: #99b2b7;
  --highlight-color: #f0e6d6;
  --border-color: #ccc;
  --black: #000;
  --white: #fff;
}

/* Theme 1: Dark */
.theme-dark {
  --base-color: #121212;
  --contrast-color: #ffffff;
  --primary-color: #8b4513;
  --secondary-color: #282828;
  --accent-color1: #a96c45;
  --accent-color2: #c49477;
  --highlight-color: #615b58;
  --border-color: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font), var(--secondary-font);
}

body {
  background-color: var(--base-color);
  color: var(--contrast-color);
}

.app-container {
  display: flex;
  height: 100vh;
}

.content {
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
  overflow: hidden;
}

button {
  cursor: pointer;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  border: none;
  color: var(--contrast-color);
}

button:hover {
  background-color: var(--highlight-color);
  transition: 0.3s;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--contrast-color);
}

/* SIDEBAR STYLES */
.sidebar {
  background-color: var(--highlight-color);
  color: var(--text-color);
  width: 200px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  margin: 10px 0;
  height: 30px;
  padding-left: 5px;
}
.sidebar-item a {
  text-decoration: none;
  font-size: 18px;
  color: var(--contrast-color);
}
.sidebar-item:hover {
  background-color: var(--accent-color1);
  border-radius: 8px;
  height: 30px;
}

/* Modal Styles */
.transaction-modal {
  background: var(--secondary-color);
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out;
  height: 500px;
}

.modal-input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.transaction-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* Modal Title */
.modal-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--contrast-color);
  text-align: center;
}

/* Modal Form Styling */
.modal-form label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
  color: var(--contrast-color);
}

.modal-form input,
.modal-form select,
.modal-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  height: 40px;
}

.modal-form textarea {
  height: 80px;
  resize: none;
}

.modal-form button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-form button:hover {
  background-color: var(--highlight-color);
}

/* Error Message Styling */
.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Transaction Page Styles */
.transactions-container {
  margin: 10px;
  padding: 0;
  height: 100vh;
}

.transaction-log {
  margin-top: 20px;
  height: 600px;
  overflow: auto;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}
.table-header {
  padding: 12px 16px;
  color: var(--contrast-color);
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--accent-color1);
}
.table-cell {
  padding: 12px 16px;
  text-align: left;
  font-size: 12px;
  color: var(--contrast-color);
}

.transaction-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.transaction-table tr {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
}

.date-column {
  width: 100px;
}

.csv-upload-input {
  display: none;
}

/* Settings Page Styles */
.settings-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background: var(--secondary-color);
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  margin-right: 20px;
}

.categories-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-top: 10px;
}

.categories-table th {
  display: none;
}
.categories-table td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

input {
  width: calc(100% - 5px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

select {
  width: calc(100% - 5px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

/* Widget Styles */
.widget {
  background: var(--secondary-color);
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget select {
  height: 30px;
  width: calc(100% - 260px);
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 0;
}
